.settings
.classpath
.project

.DS_Store
*/DS_Store

java-mail-test/*.jar
java-mail-test/downloads
java-mail-test/bin

*.wav

*.pth
*.safetensors
tokenizer.json

secret.yml
client_secret.json
token.pickle