.settings
.classpath
.project

.DS_Store
*/DS_Store

*.wav

*.pth
*.pt
tokenizer.model
*.safetensors
tokenizer.json

secret.yml
client_secret.json
token.pickle

insect-species-identification/insect-dataset
insect-species-identification/models

.idea
.ipynb_checkpoints
*/.ipynb_checkpoints
__pycache__
*/__pycache__

*.zip
*.rar
*.7z

*.apk