.settings
.classpath
.project

.DS_Store
*/DS_Store

*.wav

*.pth
tokenizer.model
*.safetensors
tokenizer.json

secret.yml
client_secret.json
token.pickle

moth-species-identification/insect-dataset

.idea
.ipynb_checkpoints
*/.ipynb_checkpoints
__pycache__
*/__pycache__

*.zip
*.rar
*.7z